:root {
    /* Backgrounds */
    --bg-primary: #0a0e17;
    --bg-secondary: #141c2e;

    /* Text */
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --text-dark: #050811;

    /* Borders & Dividers */
    --border: #26334d;

    /* Accents */
    --accent-primary: #38bdf8;
    --accent-primary-active: #0e98dd;
    --accent-secondary: #818cf8;
    --danger: #f87171;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;

    color: var(--text-primary);
}

body {
    margin: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-primary);

}


.demo_container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.demo_wrapper {
    display: flex;
    flex-direction: column;

    width: 600px;
}

.canvas {
    width: 100%;

    image-rendering: crisp-edges;

    background-color: black;

    aspect-ratio: 1;
}

.menu {
    width: 100%;
    display: flex;

    height: 50px;
}


.menu_btn {
    flex: 1;
    height: 100%;

    background-color: var(--accent-primary);

    font-size: 16px;
    font-weight: bold;
    color: var(--text-dark);

    cursor: pointer;

    border: none;
}

.menu_btn:hover {
    background-color: var(--accent-primary-active);
}