:root {
    /* Backgrounds */
    --bg-primary: #0a0e17;
    --bg-secondary: #141c2e;

    /* Text */
    --text-primary: #f8fafc;
    --text-secondary: #b6c6dd;
    --text-dark: #050811;

    /* Borders & Dividers */
    --border: #26334d;

    /* Accents */
    --accent-primary: #38bdf8;
    --accent-primary-active: #0e98dd;
    --accent-secondary: #818cf8;
    --danger: #f87171;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;

    color: var(--text-primary);
}

body {
    margin: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-primary);

}


.demo_container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.demo_wrapper {
    display: flex;
    flex-direction: column;

    width: 600px;

    position: relative;
}

.canvas {
    width: 100%;

    image-rendering: crisp-edges;

    background-color: black;

    aspect-ratio: 1;
}

#debug_canvas {
    position: absolute;
}

.message {
    position: absolute;
    top: 0;
    left: 0;

    /* Display should be flex when displayed; none otherwise */
    display: none;
    flex-direction: column;
    align-items: center;

    margin: 0;
    box-sizing: border-box;

    user-select: none;

    width: 100%;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.8);
}


.message_line {
    color: var(--text-dark);
    margin: 5px;
}

#line1 {
    font-size: 20px;
}
#line2 {
    font-size: 36px;
    font-weight: bold;
}

#close_message {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;

    background-color: rgba(96, 96, 96, 0.8);
}
#close_message:hover {
    background-color: rgba(64, 64, 64, 0.8);
}


.menu {
    width: 100%;
    display: flex;

    height: 50px;
}


.menu_btn {
    flex: 1;
    height: 100%;

    background-color: var(--accent-primary);

    font-size: 16px;
    font-weight: bold;
    color: var(--text-dark);

    cursor: pointer;

    border: none;
}

.menu_btn:hover {
    background-color: var(--accent-primary-active);
}


/* Animations */
@keyframes fadeToHidden {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}